@import '~purecss/build/pure.css';

body {
    background-color: #6b92b9;
    margin-top: 20px;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    align-items: center;
    img {
        width: 60px;
        margin-right: 30px;
    }
    .title {
        font-size: xx-large;
    }

    padding-left: 10%;
}

button {
    margin-right: 15px;
}

.description {
    font-weight: bold;
    color: #e9322d;
    font-size: x-large;
    text-align: center;
}

.logo {
    background: url('images/logo.gif');
    width: 60px;
    height: 60px;
    background-size: cover;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

.button-div {
    margin-left: 23%;
}

.server-message {
    font-size: x-large;
}

.drawn-friend {
    font-size: x-large;
    text-align: center;
}

.autocomplete-menu {
    position: relative;
    margin-top: 5px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
}

.autocomplete-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.key-selected {
    background-color: #3366FF;
}

.mouse-selected {
    background-color: #ececec;
}

.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: auto;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-input {
    min-width: 120px;
    color: black;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
    background-color: white;
}